* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


.sidebar {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 260px;
  padding: 10px;
  border-right: 1px solid rgb(171, 171, 171);
  box-shadow: 0 5px 0 2px rgba(0, 0, 0, 0.2);


}

.contact-list {
  background-color: rgb(255, 255, 255);
  width: 260px;
}


.contact-list img {
  width: 50px;
  height: auto;
  display: block;
  margin-bottom: 15px;
}

.contact {
  display: flex;
  align-items: center;
  gap: 14px;
}

.contact-list p {
  font-size: 13px;
  color: rgb(119, 119, 119);
  font-weight: bold;
}

.contact-list h4 {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: -1px;
}

.status-online::before {
  content: "●";
  font-size: 14px;
  vertical-align: middle;
  margin-right: 3px;
  color: green;
  margin-left: 2px;

}

.status-offline::before {
  content: "●";
  font-size: 14px;
  vertical-align: middle;
  margin-right: 3px;
  color: rgb(175, 2, 2);
  margin-left: 2px;
}

.search {
  width: 260px;
  padding: 6px;
  margin-bottom: 10px;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 15px;

}

.chat img {
  width: 50px;
  height: auto;
}

.chat {
  display: flex;
  flex: 1;
  flex-direction: column;
  /*color momentaneo */
  background-color: blueviolet;
}

.layout {
  display: flex;
  height: 70px;
}

.chat-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;

}

.chat-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
}

/* background momentaneo */
.chat-messages {
  background-color: aqua;
}

/* no olvidarme del responsive desing */