* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: 0;
}


.sidebar {
  background-color: black;
}

.contact-list {
  background-color: aqua;
}

.chat {
  background-color: blueviolet;
}

.contact-list img {
  width: 50px;
  height: auto;
}